<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEconnect Business Application</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
         <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript">
  </script>
<header>
        <nav class="blue darken-1 z-depth-1">
                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">WEconnect</a>
                  <ul class="right hide-on-med-and-down">
                   <li><a href="index.html">Home</a></li>
                    <li><a href="businesses.html">Businesses</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="update.html">Update</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="Signin.html">SignUp</a></li>
                  </ul>
                </div>
              </nav>
</header>

<main>
        <div class="container info">
                <h5>Businesses</h5>
                <h6>We have a wide variety of registered Businesses</h6>
                <hr>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <h6>Business 1</h6>
                            <div class="card blue-grey darken-1">
                              <div class="card-content white-text">
                                <img src="images/res.jpg" width="64" height="64">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                              </div>
                              <div class="card-action">
                                <a href="profile.html">Read more</a>
                              </div>
                            </div>
                          </div>
          
                          <div class="col s12 m4 l4">
                              <h6>Business 2</h6>
                              <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                  <img src="images/business.jpg" width="64" height="64">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                                <div class="card-action">
                                  <a href="profile.html">Read more</a>
                                </div>
                              </div>
                            </div>
          
                            <div class="col s12 m4 l4">
                                <h6>Business 3</h6>
                                <div class="card blue-grey darken-1">
                                  <div class="card-content white-text">
                                    <img src="images/res.jpg" width="64" height="64">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                  </div>
                                  <div class="card-action">
                                    <a href="profile.html">Read more</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col s12 m4 l4">
                                  <h6>Business 4</h6>
                                  <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                      <img src="images/business.jpg" width="64" height="64">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    </div>
                                    <div class="card-action">
                                      <a href="profile.html">Read more</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <h6>Business 5</h6>
                                    <div class="card blue-grey darken-1">
                                      <div class="card-content white-text">
                                        <img src="images/res.jpg" width="64" height="64">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                      </div>
                                      <div class="card-action">
                                        <a href="profile.html">Read more</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col s12 m4 l4">
                                      <h6>Business 6</h6>
                                      <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                          <img src="images/business.jpg" width="64" height="64">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                        </div>
                                        <div class="card-action">
                                          <a href="profile.html">Read more</a>
                                        </div>
                                      </div>
                                    </div>
                    </div>
                  </div>
                  
                </div>
</main>
<footer>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Powered By WEconnect
          </div>
        </div>
      </footer> 
</body>
</html>