<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WEconnect Business Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
     <!-- jQuery is required by Materialize to function -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="js/materialize.min.js"></script>
     <script type="text/javascript" src="js/script.js"></script>
     <script type="text/javascript">
     </script>
     
     <header>
            <nav class="blue darken-1 z-depth-1">
                    <div class="nav-wrapper">
                      <a href="#!" class="brand-logo">WEconnect</a>
                      <ul class="right hide-on-med-and-down">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="businesses.html">Businesses</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="update.html">Update</a></li>
                            <li><a href="login.html">Login</a></li>
                      </ul>
                    </div>
                  </nav>
                  
                <div class="intro blue ">
                    <h1 class="grey-text text-lighten-5">Business Name</h1>
                    <h5 class="grey lighten-4 grey-text text-darken-1">Business Motto or Slogan</h5>
                  </div>
     </header>
     <main>
            <div class="container info">
                    <h5>Profile</h5>
                    <h6>View Business Profile</h6>
                    <hr>
                    <div class="row">
                        <div class="row">
                            <div class="col s12 m6 l6 info-image">
                              <img class="materialboxed circle" width="400" alt="" src="images/res.jpg">
                              <h6>Business Logo</h6>
                              </div>
                              <div class="col s12 m6 l6 info-display">
                                <h4>About Business</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              </p>
                             <h4>Contact Us</h4>
                             <p>Email: mybusinesss@gmail.com</p>
                             <p>Phone: +2348036547892</p>
                             <p>Address: 124, Allen Avenue Ikeja, Lagos.</p>
                            
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container portfolio">
                        <h5>Gallery</h5>
                        <h6>Our Products and Services</h6>
                        <hr>
                        <div class="row">
                          <div class="col s12 m12 l12 portfolio-holder">
                            <img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
                            <img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
                            <img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
                            <img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
                            <img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
                            <img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
                          </div>
                        </div>
                      </div>

                      <div class="container article">
                            <h5>Reviews</h5>
                            <hr>
                            <div class="row">
                                <article class="well col-md-4">
                                    <h6>Nice Services</h6>
                                    <p>Curabitur pharetra luctus augue, non posuere orci tristique vel. Sed posuere nisi nec lacus ullamcorper, ac vulputate nisl consequat. Nullam sollicitudin nulla vel felis faucibus aliquam. Nunc sit amet velit orci. Proin sed orci fringilla, elementum felis condimentum, convallis augue. Aliquam erat volutpat. Mauris tempus nunc sit amet aliquet bibendum. Praesent vestibulum cursus ex, quis laoreet eros consectetur ac. Ut congue libero quis mauris egestas feugiat. Sed pharetra lorem et magna fringilla, a volutpat nibh sollicitudin. Nullam sagittis sollicitudin urna, sed sollicitudin mauris ornare id.
                                            <a href="#" target="_blank">Read more...</a>      
                                    </p>
                                </article>
                                <article class="well col-md-4">
                                    <h6>Great Delivery</h6>
                                <p>Nullam tempor mi at libero elementum varius. Sed lobortis lacus feugiat est tristique, nec imperdiet turpis scelerisque. Ut sed urna malesuada, scelerisque dui sit amet, tempus mauris. Integer bibendum egestas urna, a bibendum sem gravida quis. Cras accumsan rhoncus vestibulum. Nam eu blandit leo. Integer at consectetur nunc, et tempus urna. Integer sit amet sollicitudin elit. Donec nec posuere erat. Sed vestibulum nisl neque, vitae tincidunt ex molestie quis. Nulla fringilla viverra turpis in volutpat. Cras vel orci quis velit efficitur ullamcorper sed eu ex.</p>
                                    <a href="#" target="_blank">Read more...</a>      
                                    </p></article>
                                <article class="well col-md-4">
                                    <h6>Improved Products</h6><p>
                                        Morbi eget justo ut velit dapibus malesuada. Nunc elementum, neque quis convallis tempus, lacus ante tristique est, id porta tortor leo eget orci. Suspendisse hendrerit interdum lacus et condimentum. Mauris at ex dignissim, bibendum libero at, fermentum lectus. Maecenas porttitor purus quis augue interdum, eget malesuada neque placerat. Ut hendrerit risus in nibh elementum, quis vestibulum ipsum vulputate. Nulla facilisi. In consectetur et lacus vel tincidunt. Quisque feugiat ipsum et erat rhoncus efficitur. In in augue at enim tempor sollicitudin.
                                        <a href="#" target="_blank">Read more...</a>      
                                </p></article>
                                <button class="btn waves-effect waves-light btn blue darken-1" type="submit" name="action">Add Review
                                    <i class="mdi-content-send right"></i>
                                  </button>
                            </div>
                    
                          </div>
              
     </main>
     <footer>
            <div class="footer-copyright">
              <div class="container">
              © 2018 Powered By WEconnect
              </div>
            </div>
          </footer>
</body>
</html>