<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WEconnect Business Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
     <!-- jQuery is required by Materialize to function -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="js/materialize.min.js"></script>
     <script type="text/javascript" src="js/script.js"></script>
     <script type="text/javascript">
     </script>
     
     <header>
            <nav class="blue darken-1 z-depth-1">
                    <div class="nav-wrapper">
                      <a href="#!" class="brand-logo">WEconnect</a>
                      <ul class="right hide-on-med-and-down">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="businesses.html">Businesses</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="update.html">Update</a></li>
                            <li><a href="login.html">Login</a></li>
                      </ul>
                    </div>
                  </nav>
                  
                <div class="intro blue ">
                    <h1 class="grey-text text-lighten-5">Business Name</h1>
                    <h5 class="grey lighten-4 grey-text text-darken-1">Business Motto or Slogan</h5>
                  </div>
     </header>
     <main>

     </main>
</body>
</html>